/* RU: 4691298 */
/*  SESSÃO SOBRE MIM  */

#sobre {
    background-color: #1c3046;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: white;
    font-size: 90px;
    opacity: 0.1;
    font-weight: 800;
    margin-bottom: 100px;
    margin-top: 0;
}

#container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

#infor {
    display: block;
    color: rgb(207, 207, 207);
    width: 65%;
    
}


#text1 {
    font-size: 22px;
    margin: 0px 0px 20px 0px;
}

#name {
    font-size: 45px;
    margin: 20px 0px 5px 0px;
}

#profissao {
    font-size: 35px;
    margin: 10px 0px 15px 0px;
}

#text_sobre {
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    width: 650px;
    margin: 0;
}

#sobre span {
    color: #0a68d3;
    font-weight: 800;
}

#perfil {
    border: solid 2px #0a68d3;
    border-radius: 50%;
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

#foto {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.8;
    margin-left: 40px;
    margin-right: 40px;
}

#experiencia {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(207, 207, 207);
    padding: 8px 10px;
    border-radius: 25px;
    color: #0a68d3;
    font-weight: 700;
}